a:any-link {
    text-decoration: none;
}

a:link {
    color: blue;
}

a:visited {
    color:  rgb(2%, 0, 98%);
}

a:hover {
    background-color: rgb(223, 223, 95);
}

.ipa {
    font-family: sans-serif;
}

sup.footnote a:any-link {
    color: blue;    
}

th {
    font-family: sans-serif;
    text-align: center;
}

tbody th {
    text-align: left;
}

td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}

colgroup.mc-initials col.sounds-group-1 {
    background-color: rgb(92%, 92%, 92%);
}

colgroup.mc-initials col.sounds-group-2 {
    background-color: rgb(96%, 96%, 96%);
}

colgroup.mc-initials col.sounds-group-3 {
    background-color: rgb(92%, 92%, 92%);
}

colgroup.mc-initials col.sounds-group-4 {
    background-color: rgb(96%, 96%, 96%);
}

/*
  Tables of Middle Chinese finals
 */

table.mc-finals col.sound {
    width: 4em;
}

table.mc-finals col.rhyme-group {
    width: 3em;
}

table.mc-finals col.u-medial {
    width: 3em;
}

table.mc-finals col.division-1 {
    background-color: rgb(92%, 92%, 92%)
}

table.mc-finals col.division-2 {
    background-color: rgb(94%, 94%, 94%)
}

table.mc-finals col.division-3 {
    background-color: rgb(96%, 96%, 96%)
}

table.mc-finals col.division-4 {
    background-color: rgb(98%, 98%, 98%)
}

table.mc-finals td.rhyme-group {
    text-align: center;
}

table.mc-finals td.u-medial {
    text-align: center;
}


span.pinyin {
    font-style: italic;
}

span.romaji {
    font-style: italic;
}

span.jyutping {
    font-style: italic;
}

p.heading {
    font-weight: bold;
}

div.section-1 p.heading {
    font-size: 120%;
}

img.page {
    max-width: 100%
}

div#toc-sidebar {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

ol.toc {
    /* ol is used for its semantic meaning only.  We supply our own section numbering
       and must suppress the default numbering. */
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

@media screen {
    div#toc-sidebar {
        display: none;
    }
}

@media screen and (min-width: 400px) {
    div#toc-sidebar {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 21em;
        overflow: auto;
        box-shadow: -0.1em 0 0.25em inset;
    }

    div#body {
        margin-left: 24em;
    }
}

@media print {
    div.section {
        page-break-after: always;
    }
}
